.App-logo {
  height: 40vmin;
}
.app{
  background-color: #B2DBBF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Navbar{
  background-color: #247BA0;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home{
  height: 25;
  width: 25px;

}
.timer{
  font-size: 35px;
}
h1{
  text-align: left;
  color: aliceblue;
}
.question{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contenedor_question{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pregunta{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.texto1{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  vertical-align: baseline;
  font-weight: 700;
  color: rgb(25, 174, 219);
  font-size: 25px;
  line-height: 1.225em;
  text-decoration: underline;
}
.texto2{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: baseline;
  font-weight: 700;
  color: #1d1d1d;
  font-size: 35px;
  line-height: 1.225em;
}
.respuesta{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photo{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foto{
  width: 600px;
  height: 300px;
}
.informacion{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}
.credits{
  display: flex; 
  flex-direction: row;

  align-self: flex-end;
}
.fotoCreador{
  margin-left: 15px;
}
.tips{
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  background-color: #B2DBBF; 
  border-image: initial;
  border-radius:10px; 
}
.texto3{
  align-self: center;
  text-decoration: underline;
}
.botonera{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.botonera1{
  margin-top: 15px;
  margin-bottom: 15px;
}
.spinner{
  margin: 0 auto;
  margin-top: 55px;
}
.rueda{
  margin-left: 70px;
}
.padre{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mark{
  background-color: rgb(189, 241, 233);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
