.App-logo {
  height: 40vmin;
}
.Navbar{
  background-color: #247BA0;
  margin-top: 0px;
}
h1{
  text-align: left;
  color: aliceblue;
}
body{
  height: 100%;
  width: 100%;
  /*quiero poner este color de fondo pero no me deja*/
  background-color: #B2DBBF;
}
p.texto{
  text-align: center;
}
.play{
display: flex;
flex-direction: column;
justify-content: space-around;
}
.game{
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
.photo{
  display: inline-flex;
  align-items: flex-start;
}
.contenedor_game{
  display: inline-flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;  
}
.credits{
  align-items: flex-end;
  align-self: flex-end;
  margin-right: 15px;;
}
.contenedor_botonera{
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  bottom: 10px;
  width: 100%;
}
.tips{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.foto{
  width: 600px;
  height: 350px;
}
.spinner{
  margin: 0 auto;
  margin-top: 55px;
}
.rueda{
  margin-left: 70px;
}
.padre{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fotoCreador{
  margin-left: 10px;
}
