.App-logo {
  height: 40vmin;
}
.Navbar{
  background-color: #575758;
  margin-top: 0px;
}
h1{
  text-align: left;
  color: aliceblue;
}
body{
  height: 100%;
  width: 100%;
}
.play{
display: flex;
flex-direction: column;
justify-content: space-around;
}
.game{
  display: flex;
  flex-direction: row;
}
.photo{
  display: inline-flex;
  align-items: flex-start;
}
.contenedor_game{
  display: inline-flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;  
}
.credits{
  align-items: flex-end;
  align-self: flex-end;
}
.contenedor_botonera{
  display: flex;
  flex-direction: column-reverse;
}
.tips{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.foto{
  width: 600px;
  height: 350px;
}
.spinner{
  margin: 0 auto;
  margin-top: 55px;
}
.rueda{
  margin-left: 70px;
}
.padre{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


