.index{
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item{
    padding-bottom: 10px;
}
.Navbar{
    background-color: #575758;
    margin-top: 0px;
  }